<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Flight Search App</title>

    <link href="https://fonts.googleapis.com/css?family=Dosis:400,700" rel="stylesheet" />
    <link href="style.css" rel="stylesheet" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <title>Home</title>
    <link rel='icon' href='...' type='image/x-icon'/>
    <!-- Bootstrap core CSS -->
    <link rel= "https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link href="../resources/css/my_style.css" rel="stylesheet">
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-info">
    <a class="navbar-brand" href="/home">
        <img class="rounded" src="../resources/img/Airplane.png" alt="" width="30" height="30">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/home">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href=""> <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href=></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href=/search>Crispy Search</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href=/flysearch>Flight Search</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href=/register>Register</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href=/login> Login </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href=/login>Logout</a>
            </li>
        </ul>
    </div>
</nav>
    <div id="root"></div>
    <div style="height:250px;width: 500px;">
      <div id="kayakSearchWidgetContainer"></div> 
      </div>
      <script type="text/javaScript" src="https://www.kayak.com/affiliate/widget-v2.js"></script>
      <script type="text/javaScript">
      KAYAK.embed({
      container: document.getElementById("kayakSearchWidgetContainer"),
      hostname: "www.kayak.com",
      autoPosition: true,
      defaultProduct: "flights",
      enabledProducts: ["flights"],
      startDate: "2019-01-01",
      endDate: "2019-01-01",
      origin: "Denver",
      destination: "London",
      ssl: true,
      affiliateId: "crispy-octo-bassoon",
      isInternalLoad: false,
      lc: "en",
      cc: "us",
      mc: "EUR"
      });
      </script>
    <script src="scripts.js"></script>
    <script type="text/JavaScript" src="https://www.kayak.com/affiliate/widget-v2.js"></script>
  </body>
</html>